* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
    display: flex;
}

.chooserContainer {
    margin: 6px 8px;
}

div{
	margin: 10px;
}

button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
    margin: 5px;
}

#select-container {
    padding: 0;
    display: inline-block;
    background-color: dimgray;
    margin: 0px;
}

.var-label{
    color: dimgray;
}

select {
    border: none;
    background: none;
    color: white;
    height: 25px;
    padding: 0px 0px;
    margin: 0px;
}

option {
    color: black;
}

input[type="text"], input[type="number"] {
    cursor: text;
}

input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    overflow: scroll;
    background: #222;
}

#timer {
    font-family: monospace;
    display: block;
    height: 20vh;
    top: 0;
    left: 0;
    font-size: 20vh;
    line-height: .8;
}

header {
    color: white;
}

svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}

#gyro {
    width: 175px;
    height: 175px;
    margin-top: 15px;
}

#gyro-arm {
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}

#gyro-number {
    font-size: 25px;
    text-anchor: middle;
}

#team {
    font-size: 28px;
    letter-spacing: -1px;
}

.var-label{
    color: dimgray;
}
